*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family:sans-serif;
}

.carousel-inner img{
	width:100%;
	height:500px;
}

.carousel a:hover{
	position:absolute;
	background-color:black;
	opacity:.5;
}

.my-img{
	width:100%;
	height:200px;
}